<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">Blogger </span></h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti a
        recusandae, molestiae incidunt
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          +91 7722036322
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:chinmayakmble@gmail.com">
            chinmaykamble@gmail.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://www.instagram.com/chinmay_k.pvt">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/chinmay-kamble-8050a6203">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://twitter.com/chinmaykamble13">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/chinmay.kamble.5">
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>